---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

//$base-font-family: 'EB Garamond', serif;
$base-font-family: sans-serif;
//$base-font-size:   x-large;
$base-font-size:   medium;
$small-font-size:  0.875em;
$vsmall-font-size: 0.5em;
$large-font-size:   1.1em;
$base-line-height: 1.5;
$spacing-unit:     1.5em;

$white:         #fff;
$black:         #000;
$grey-vlight:   #eee;
$grey-light:    #ccc;
$grey:          #888;
$grey-dark:     #444;
$grey-vdark:    #222;
$darkblue:      #1a5276;
$blue:          #007fce;
$orange:        #ca6c18;
$orange-dark:   #b85323;
$red:           #b6321c;
$wustlgray:	#3d3d3d;
$turquoise:     #2b8282;
$turquoise-light:     #67c8c7;
$wustlblue: 	#005f85;

$background:        $black;
$dark-background:   darken($background, 5%);
$text-color:        $grey-light;
$text-light-color:  $grey-light;
$url-color:         $blue;
$url-hover-color:   $turquoise;
$header-text-color: $text-light-color;
$header-hover-color:$text-color;
$header-hover-url:  $url-color;
$line-color:        $grey;

// Width of the content area
$content-width:    50em;
$content-min-width:15em;
$mobile:           32em;
$desktop:          50em;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "header",
    "mobile-header",
    "base",
    "footer",
    "page",
    "syntax-highlighting",
    "fancy-image"
;
